body {
    font-family: Arial;
    display: flex; 
    justify-content: center;
  }
  .card {
    max-width: 400px;
    border: 1px solid #CCC;
    padding: 24px;
    border-radius: 16px;
  }

h1 {
    color: #69C8EC;
}
ul {
    color: #24325F;
}